{% extends "base.html" %}
{% block content %}

<!-- Custom CSS and javascript -->
<link href="../static/css/tweet_style.css" rel='stylesheet' type='text/css'/>
<script src="../static/js/tweet.js"  type='text/javascript'></script>
<script src="../static/js/echarts-en.min.js" ></script>

<!-- Tweet -->
<div class='row' id='main-row'>
	<div class="left-part">
<!--	tweet box-->
		<div class="tweet-box">
			<div class='col-sm-10'>
				<!-- Tweet submission form and buttons -->
				<form method='get'>
					<div class='form-box'>
						<input type='text' id="text" name='tweet' placeholder='Enter here:...' maxlength='280' class='form-control'/>
						<div class='button-group'>
							<button id='submit' class='btn btn-default'>SUBMIT</button>
							<button id='clear' class='btn btn-default'>CLEAR</button>
						</div>
					</div>
				</form>
				<!-- Predictions are appended here -->
<!--				<progress id="loading" class="loading" max="100" value="70"></progress>-->
				<div id="results" class='results'></div>
				<div class="emotion-table">
					<span class="bar-title">Angry</span> &nbsp; <progress class="bar progress1" value="0"></progress><br>
					<span class="bar-title">Fear</span> &nbsp; <progress class="bar progress2" value="0"></progress><br>
					<span class="bar-title">Joy</span> &nbsp; <progress class="bar progress3" value="0"></progress><br>
					<span class="bar-title">Love</span> &nbsp; <progress class="bar progress4" value="0"></progress><br>
					<span class="bar-title">Sadness</span> &nbsp;<progress class="bar progress5" value="0"></progress><br>
					<span class="bar-title">Surprise</span> &nbsp;<progress class="bar progress6" value="0"></progress>
				</div>

			</div>
		</div>
	</div>

	<div class="right-part">
		<div class="time-line">
			<div class="trump-timeline" style="position: absolute; left: 0; top: 0; width: 50%; height: 37%;">
				<a class="twitter-timeline" data-width=100% data-height=100% data-theme="dark" href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">Tweets by realDonaldTrump</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="biden-timeline" style="position: absolute; top: 0; left: 50%; width: 50%; height: 37%;">
				<a class="twitter-timeline" data-width=100% data-height=100% data-theme="dark" href="https://twitter.com/JoeBiden?ref_src=twsrc%5Etfw">Tweets by JoeBiden</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div id="emt-line" class="emt-line"></div>
	</div>

</div>

{% endblock %}


