.results {
	height: 75%;
	max-height: 800px;
	overflow-y: auto;

}

.col-sm-10 {
	text-align: left;
	left: 2%;
}

.panel-success .panel-footer {
	background-color: hsla(50, 80%, 90%, 1);
	color: hsla(102, 50%, 30%, 1);
}

.panel-warning .panel-footer {
	background-color: hsla(50, 80%, 90%, 1);
	color: hsla(50, 80%, 30%, 1);
}

.panel-danger .panel-footer {
	background-color: hsla(0, 40%, 90%, 1);
	color: hsla(0, 40%, 30%, 1);
}

.panel-transparent {
	margin: 10px 0px;
}

.panel-transparent .panel-body {
	background-color: hsla(0, 0%, 100%, 0.8);
}

::-webkit-input-placeholder {
   text-align: center;
}

.left-part{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
}
.tweet-box{
	width: 100%;
	height: 50%;
}

form {
	width: 100%;
/*	height: 75px;*/
	margin: auto;
}

.form-box {
	padding-top: 5px;
	padding-bottom: 5px;
/*	background-color: hsla(0, 0%, 0%, 0.8); */
/*	border-radius: 10px;*/
}

.form-control {
	margin: auto;
	width: 90%;
}

#submit {
	width: 20%;
}

.button-group {
	margin-top: 5px;
	margin-left: 5%;
}

.panel-footer {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.right-part{
	/*border: 1px black dashed;*/
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}

.emotion-table{
	position: absolute;
	left: 10%;
	float: right;
}

.bar-title{
	display: inline;
	 float: left;
}
.bar{
	 float: right;
}